body {
    margin: 0;
    padding: 0;
    background-color: black;
}

main, h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: yellow;
}

video {
    width: 45%;
    height: 45%;
    position: absolute;
    top: 150px;
    /* margin-top: 50px; */
}

h1:hover{
    border-radius: 5px;
    border: 1px solid yellow;
    padding: 20px;
}